Repository swagger-api/swagger-editor, pull requests merged in 2022-07, with the labels that each got.

#3209 fix: avoid ApiDOM crashes in Safari browser
  package-lock.json
  package.json
Labels: type: bug, swagger-editor@next

#3213 feat: add support for all AsyncAPI spec objects
  package-lock.json
  package.json
Labels: type: feature, swagger-editor@next

#3220 chore(deps-dev): bump cypress from 9.5.1 to 10.3.0
  cypress.config.js
  cypress.json
  package-lock.json
  package.json
  test/e2e/plugins/index.js
  test/e2e/support/e2e.js
Labels: cat: dependencies

#3260 feat: integrate ApiDOM@0.36.0
  package-lock.json
  package.json
Labels: cat: dependencies, javascript, swagger-editor@next

#3244 SwaggerEditor@next: jump-to-path plugin
  package-lock.json
  package.json
  src/App.jsx
  src/plugins/editor-jump-from-path-to-line/components/JumpToPath.jsx
  src/plugins/editor-jump-from-path-to-line/components/jump-icon.svg
  src/plugins/editor-jump-from-path-to-line/index.js
  src/plugins/editor-jump-from-path-to-line/selectors.js
  src/plugins/editor-monaco/actions.js
  src/plugins/editor-monaco/components/MonacoEditor/MonacoEditor.jsx
  src/plugins/editor-monaco/components/MonacoEditor/MonacoEditorContainer.jsx
  src/plugins/editor-monaco/index.js
  src/plugins/editor-monaco/reducers.js
  src/plugins/editor-monaco/selectors.js
  src/plugins/editor-monaco/utils/monaco-jump-from-path-to-line.js
Labels: javascript, swagger-editor@next

#3294 test(cypress): fix flaky persistent e2e test
  test/cypress/integration/editor-persistence.spec.js
Labels: swagger-editor@next

#3296 test(cypress): fix flaky persistent e2e test
  test/cypress/integration/editor-persistence.spec.js
  test/cypress/support/commands.js
Labels: type: regression, swagger-editor@next

#3299 test(cypress): consolidate all e2e tests to reflect new architecture
  test/cypress/integration/.eslintrc
  test/cypress/integration/app.spec.js
  test/cypress/integration/plugin.dropzone.spec.js
  test/cypress/integration/plugin.editor-monaco.spec.js
  test/cypress/integration/plugin.editor-persistence.spec.js
  test/cypress/integration/plugin.top-bar.spec.js
  test/cypress/integration/plugin.validation-pane.spec.js
  test/cypress/support/commands.js
Labels: type: enhancement, swagger-editor@next

#3300 chore(package): make ApiDOM package version consistent
  package-lock.json
  package.json
  src/plugins/editor-preview-asyncapi/components/ParseErrrors/ParseErrors.jsx
  test/cypress/integration/plugin.editor-persistence.spec.js
Labels: type: enhancement, cat: dependencies, swagger-editor@next

#3306 feat: add preview plugin for API Design Systems
  package-lock.json
  package.json
  src/App.jsx
  src/plugins/editor-content-fixtures/index.js
  src/plugins/editor-content-fixtures/selectors/selectAPIDesignSystemsJSON.js
  src/plugins/editor-content-type/actions.js
  src/plugins/editor-content-type/index.js
  src/plugins/editor-content-type/selectors.js
  src/plugins/editor-preview-api-design-systems/actions.js
  src/plugins/editor-preview-api-design-systems/components/EditorPreviewAPIDesignSystems.jsx
  src/plugins/editor-preview-api-design-systems/components/Info.jsx
  src/plugins/editor-preview-api-design-systems/components/Main.jsx
  src/plugins/editor-preview-api-design-systems/components/ParseErrors.jsx
  src/plugins/editor-preview-api-design-systems/components/Principle.jsx
  src/plugins/editor-preview-api-design-systems/components/Principles.jsx
  src/plugins/editor-preview-api-design-systems/components/Requirement.jsx
  src/plugins/editor-preview-api-design-systems/components/Scenario.jsx
  src/plugins/editor-preview-api-design-systems/components/Scenarios.jsx
  src/plugins/editor-preview-api-design-systems/components/Standard.jsx
  src/plugins/editor-preview-api-design-systems/components/Standards.jsx
  src/plugins/editor-preview-api-design-systems/components/_all.scss
  src/plugins/editor-preview-api-design-systems/index.js
  src/plugins/editor-preview-api-design-systems/namespace.js
  src/plugins/editor-preview-api-design-systems/reducers.js
  src/plugins/editor-preview-api-design-systems/selectors.js
  src/plugins/editor-preview-api-design-systems/wrap-actions.js
  src/plugins/editor-preview-api-design-systems/wrap-components/EditorPreviewWrapper.jsx
  src/plugins/editor-preview-asyncapi/reducers.js
  src/plugins/editor-preview/components/EditorPreviewFallback.jsx
  src/plugins/top-bar/components/EditMenu/EditMenu.jsx
  src/plugins/top-bar/components/EditMenu/EditMenuHandler.jsx
  src/plugins/top-bar/components/EditMenu/items/LoadAPIDesignSystemsMenuItem.jsx
  src/plugins/top-bar/index.js
  src/styles/main.scss
Labels: type: feature, swagger-editor@next

#3310 feat: add ability to integrate preview plugins with SwaggerUI
  README.md
  src/App.jsx
  src/plugins/editor-content-type/actions.js
  src/plugins/swagger-ui-adapter/index.js
  src/plugins/swagger-ui-adapter/wrap-actions.js
  src/plugins/swagger-ui-adapter/wrap-components/BaseLayout.jsx
Labels: type: enhancement, type: feature, swagger-editor@next
