Repository swagger-api/swagger-editor, pull requests merged in 2023-03, with the labels that each got.

#3898 feat: use SwaggerUI@4.17.0 with swagger-client@3.19.0-beta.8
  .github/workflows/build.yml
  .github/workflows/nightly-build.yml
  .github/workflows/release.yml
  .npmrc
  README.md
  package-lock.json
  package.json
Labels: type: enhancement, cat: dependencies, swagger-editor@next

#3904 feat: integrate swagger-ui@4.17.0
  package-lock.json
  package.json
Labels: type: enhancement, cat: dependencies

#3921 feat: utilize latest versions of swagger-ui & swagger-client
  package-lock.json
  package.json
Labels: type: enhancement, cat: dependencies

#3922 chore(deps): update dependencies
  package-lock.json
  package.json
Labels: cat: dependencies, javascript, swagger-editor@next

#3872 feat: integrate SwaggerUI@v5 with experimental OpenAPI 3.1.0 support
  package-lock.json
  package.json
  src/plugins/editor-preview-swagger-ui/components/EditorPreviewSwaggerUIFallback.jsx
  src/plugins/editor-preview-swagger-ui/index.js
  src/plugins/editor-preview-swagger-ui/wrap-components/EditorPreviewWrapper.jsx
  test/cypress/integration/plugin.editor-preview-swagger-ui.spec.js
Labels: type: feature, swagger-editor@next

#3959 Deps update
  package-lock.json
  package.json
Labels: type: enhancement, swagger-editor@next

#3965 chore(deps): update dependencies
  package-lock.json
  package.json
Labels: cat: dependencies, swagger-editor@next

#3958 Docker update
  Dockerfile
  README.md
  docker-run.sh
  nginx.conf
Labels: type: enhancement, docker

#3978 refactor(editor-monaco-language-apidom): use idiomatic language impl
  src/plugins/editor-monaco-language-apidom/after-load.js
  src/plugins/editor-monaco-language-apidom/language/WorkerManager.js
  src/plugins/editor-monaco-language-apidom/language/adapters/CodeActionsAdapter.js
  src/plugins/editor-monaco-language-apidom/language/adapters/CompletionItemsAdapter.js
  src/plugins/editor-monaco-language-apidom/language/adapters/DefinitionAdapter.js
  src/plugins/editor-monaco-language-apidom/language/adapters/DiagnosticsAdapter.js
  src/plugins/editor-monaco-language-apidom/language/adapters/DocumentLinkAdapter.js
  src/plugins/editor-monaco-language-apidom/language/adapters/DocumentSemanticTokensAdapter.js
  src/plugins/editor-monaco-language-apidom/language/adapters/DocumentSymbolsAdapter.js
  src/plugins/editor-monaco-language-apidom/language/adapters/HoverAdapter.js
  src/plugins/editor-monaco-language-apidom/language/adapters/SemanticTokensAdapter.js
  src/plugins/editor-monaco-language-apidom/language/apidom-mode.js
  src/plugins/editor-monaco-language-apidom/language/apidom.js
  src/plugins/editor-monaco-language-apidom/language/monaco.contribution.js
Labels: type: enhancement, swagger-editor@next

#3979 feat(editor-moanco): add support for switching language
  src/plugins/editor-monaco-language-apidom/after-load.js
  src/plugins/editor-monaco/actions.js
  src/plugins/editor-monaco/components/MonacoEditor/MonacoEditorContainer.jsx
  src/plugins/editor-monaco/index.js
  src/plugins/editor-monaco/reducers.js
  src/plugins/editor-monaco/selectors.js
Labels: type: feature, swagger-editor@next

#3980 refactor(editor-monaco): consolidate themes
  .eslintrc
  src/plugins/editor-monaco/actions.js
  src/plugins/editor-monaco/after-load.js
  src/plugins/editor-monaco/components/MonacoEditor/MonacoEditor.jsx
  src/plugins/editor-monaco/components/MonacoEditor/MonacoEditorContainer.jsx
  src/plugins/editor-monaco/components/ThemeSelectionIcon.jsx
  src/plugins/editor-monaco/index.js
  src/plugins/editor-monaco/reducers.js
  src/plugins/editor-monaco/selectors.js
  src/plugins/editor-monaco/themes/se-vs-dark.js
  src/plugins/editor-monaco/themes/se-vs-light.js
  src/plugins/editor-monaco/utils/monaco-theme-dark.js
  src/plugins/editor-monaco/utils/monaco-theme-light.js
Labels: type: enhancement, swagger-editor@next

#3998 chore(deps): update dependencies
  package-lock.json
  package.json
Labels: cat: dependencies, version: 4.x

#3999 chore(deps): update dependencies
  package-lock.json
  package.json
  test/cypress/integration/plugin.dropzone.spec.js
  test/cypress/integration/plugin.editor-preview-swagger-ui.spec.js
  test/cypress/integration/plugin.top-bar.spec.js
Labels: cat: dependencies, swagger-editor@next

#4000 refactor(language-apidom): enhance dereference monaco action
  src/plugins/editor-monaco-language-apidom/after-load.js
  src/plugins/editor-monaco-language-apidom/language/actions/dereference.js
  src/plugins/editor-monaco-language-apidom/language/monaco.contribution.js
  src/plugins/editor-preview-asyncapi/util/raml-1-0-parser.js
Labels: type: enhancement, swagger-editor@next
