Repository swagger-api/swagger-editor, pull requests merged in 2023-07, with the labels that each got.

#4276 fix: fix critical bug in OpenAPI 3.1.0 resolution
  package-lock.json
  package.json
Labels: type: bug, swagger-editor@next

#4277 fix(layout): allow scrolling within validation table
  src/plugins/editor-monaco/components/ValidationTable/_validation-table.scss
Labels: type: bug, cat: user experience, swagger-editor@next

#4278 fix(editor-content-fixtures): amend OpenAPI 3.1.0 Petstore fixture
  src/plugins/editor-content-fixtures/selectors/selectOpenAPI310PetstoreYAML.js
Labels: type: enhancement, swagger-editor@next

#4279 chore(deps): update swagger-ui-react to v5.1.2
  package-lock.json
  package.json
Labels: cat: dependencies, swagger-editor@next

#4280 feat: move completionContext to APIDomContext
  src/plugins/editor-monaco-language-apidom/language/ApiDOMWorker.js
  src/plugins/editor-monaco-language-apidom/language/providers/CompletionItemProvider.js
Labels: type: feature, swagger-editor@next

#4290 feat(monaco-language-apidom): allow override ApiDOM Context
  docs/customization/plug-points/editor-monaco-language-apidom.md
  package-lock.json
  package.json
  src/plugins/editor-monaco-language-apidom/language/ApiDOMWorker.js
  src/plugins/editor-monaco-language-apidom/language/WorkerManager.js
  src/plugins/editor-monaco-language-apidom/language/monaco.contribution.js
Labels: type: enhancement, swagger-editor@next

#4296 fix(docker): update libtiff to non-vulnerable version
  Dockerfile
Labels: cat: docker, security vulnerability, security fix, docker, swagger-editor@next

#4298 fix(docker): update libtiff to non-vulnerable version
  Dockerfile
Labels: cat: docker, security vulnerability, security fix, docker

#4299 refactor(monaco-language-apidom): expose overridable LS instance method
  src/plugins/editor-monaco-language-apidom/language/ApiDOMWorker.js
Labels: type: enhancement, swagger-editor@next

#4300 fix(public): disable cache for index.html asset
  public/index.html
Labels: type: bug, type: regression, swagger-editor@next

#4305 fix(momnaco-language-apidom): fix VS Code API initialization error
  src/plugins/editor-monaco-language-apidom/language/monaco.contribution.js
  src/plugins/editor-monaco-language-apidom/language/providers/DiagnosticsProvider.js
Labels: type: regression, swagger-editor@next

#4310 fix: apply bug fixes via updating upstream libs
  package-lock.json
  package.json
Labels: swagger-editor@next

#4314 chore: add metadata annotations
  Dockerfile
Labels: type: enhancement, cat: docker, version: 4.x, docker

#4319 chore(docker): add metadata annotations
  Dockerfile
  Dockerfile.unprivileged
Labels: type: enhancement, cat: docker, docker, swagger-editor@next
