Repository swagger-api/swagger-editor, pull requests merged in 2025-05, with the labels that each got.

#5448 ci: port workflows from next to master branch
  .github/workflows/codeql.yml
  .github/workflows/docker-build-push.yml
  .github/workflows/nightly-build.yml
  .github/workflows/nodejs.yml
  .github/workflows/release.yml
Labels: CICD

#5466 feat(util): expose safe action wrapper as static import
  src/plugins/dropzone/wrap-actions.js
  src/plugins/editor-content-from-file/extensions/dropzone/wrap-actions.js
  src/plugins/editor-content-from-file/extensions/top-bar/wrap-actions.js
  src/plugins/editor-content-origin/extensions/editor-textarea/wrap-actions.js
  src/plugins/editor-content-persistence/extensions/editor-textarea/wrap-actions.js
  src/plugins/editor-content-type/extensions/editor-textarea/wrap-actions.js
  src/plugins/editor-preview-api-design-systems/extensions/editor-content-type/wrap-actions.js
  src/plugins/editor-preview-asyncapi/extensions/editor-content-type/wrap-actions.js
  src/plugins/editor-preview-swagger-ui/extensions/editor-content-type/wrap-actions.js
  src/plugins/editor-preview-swagger-ui/wrap-actions.js
  src/plugins/editor-textarea/wrap-actions.js
  src/plugins/top-bar/extensions/editor-content-type/wrap-actions.js
  src/plugins/top-bar/wrap-actions.js
  src/plugins/util/fn.js
  src/plugins/util/index.js
  src/utils/create-safe-action-wrapper.js
Labels: type: enhancement, swagger-editor@next

#5493 fix(editor-monaco-language-apidom): avoid accessing properties of null variables
  src/plugins/editor-monaco-language-apidom/language/WorkerManager.js
  src/plugins/editor-monaco-language-apidom/language/providers/DiagnosticsProvider.js
Labels: type: bug, swagger-editor@next

#5496 fix: use spec compliant JSON Pointer implementation
  .eslintrc
  package-lock.json
  package.json
  src/plugins/editor-preview-swagger-ui/actions/jump-to-path.js
Labels: type: bug, swagger-editor@next

#5511 chore(editor-monaco): expose Monaco themes through the plugin system
  src/plugins/editor-monaco/index.js
Labels: type: enhancement, swagger-editor@next
